body {
  font-family: "Rubik", sans-serif;
}
.nav-item {
  padding-left: 40px;
}
.jumbotron {
  color: white;
  background-image: url("./images/carrots-cucumber-delicious-1640777.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  margin-top: 7%;
}
h1 {
  align-content: center;
}
h1 span {
  background: black;
}
p span {
  background: black;
}
